* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

nav {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 3rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
  color: #0d1216;
}

.nav-list {
  list-style: none;
  margin-left: 3rem;
}

.nav-list li {
  display: inline-block;
}

.nav-list li a {
  font-size: 1.7rem;
  color: rgb(13, 18, 22);
  text-decoration: none;
}

.nav-list li:not(:last-child) {
  margin-right: 3rem;
}

.logo {
  width: 10rem;
}

.down {
  font-size: 1.3rem;
}

form {
  flex-basis: 21%;
  position: relative;
  margin-left: 6rem
}

form input {
  padding: 1.5rem .5rem;
  padding-left: 4rem;
  width: 100%;
  margin-left: -1rem;
  border-radius: 6px;
  border: 1px solid rgb(133, 133, 133);
  font-family: 'Noto Sans', sans-serif;

}

form input::placeholder {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.6rem;
}

.search {
  font-size: 2rem;
  position: absolute;
  top: 1.2rem;
  z-index: 10;
  color: #0d1216;
}

.helpy {
  font-size: 2.5rem;
}

.nav-btn a {
  font-size: 1.7rem;
  text-decoration: none;
  background-color: rgba(64, 87, 109, .07);
  padding: 1.2rem 2rem;
  color: #000;
  font-weight: 500;
  border-radius: .4rem;
}

.nav-btn a:not(:last-child) {
  margin-right: 1.3rem;
}

.active {
  background-color: #8b3dff !important;
  color: #fff !important;
}

.hero {
  text-align: center;
  margin-top: 8rem;
  position: relative;
}

.hero h1 {
  font-size: 6rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-bottom: 2.5rem;
  color: #0d1216;
}

.hero p {
  font-size: 2.2rem;
  color: rgba(13, 18, 22, .7);
  margin-bottom: 4rem;
}

.hero a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
  background-color: #8b3dff;
  padding: 1.2rem 2rem;
  font-weight: 500;
  border-radius: 5px;
}

.hero video {
  width: 60%;
  height: auto;
  margin-top: 9rem;
}

.book {
  width: 18rem;
  position: absolute;
}

.book1 {
  left: 3rem;
}

.book2 {
  right: 4rem;
  top: 24rem;
}

.book3 {
  left: 5rem;
  top: 60rem;
}

.book4 {
  right: 5rem;
  top: 60rem;
}


/*............. PERFECT ...............*/
.perfect {
  padding-top: 11rem;
  text-align: center;
}

.perfect h2 {
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Lato', sans-serif;
}

.canva-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 6rem;
}

.canva {
  width: 22%;
}

.canva h3 {
  font-size: 2.6rem;
  display: inline-block;
  margin-bottom: 2.8rem;
  color: #0d1216;
}

.canva p {
  font-size: 1.6rem;
  color: rgba(13, 18, 22, .86);
  line-height: 2.5rem;
  margin-bottom: 3rem;

}

.canva a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #8b3dff;
  color: #fff;
  display: block;
  padding: 1.5rem;
  border-radius: 4px;
  transition: all .5s;
}

.canva a:hover {
  background-color: #9e77f3;
}

.crown {
  font-size: 2.5rem;
  margin-right: 1rem;
  color: #fbbe28;
}

.perfect-footer {
  margin-top: 7rem;
}

.perfect-footer p {
  font-size: 1.7rem;
}

.perfect-footer a {
  text-decoration: none;
  color: #8b3dff;

}


/* PARTNERS */
.trust {
  padding-top: 10rem;
}

.trust h2 {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 4rem;
  font-family: 'Lato', sans-serif;
}

.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.slider .slider-track {
  animation: scroll 30s linear infinite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

.slider .slide {
  height: 100px;
  width: 250px;
}

.slider .slider-track:hover {
  animation-play-state: paused;
}

.slide img {
  width: 15rem;
  height: auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}