* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

section,
footer {
  padding: 0 3rem;
}

nav {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 3rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
  color: #0d1216;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav-list {
  list-style: none;
  margin-left: 3rem;
}

.nav-list li {
  display: inline-block;
}

.nav-list li a {
  font-size: 1.7rem;
  color: rgb(13, 18, 22);
  text-decoration: none;
}

.nav-list li:not(:last-child) {
  margin-right: 3rem;
}

.logo {
  width: 10rem;
}

.down {
  font-size: 1.3rem;
}

form {
  flex-basis: 21%;
  position: relative;
  margin-left: 6rem
}

form input {
  padding: 1.5rem .5rem;
  padding-left: 4rem;
  width: 100%;
  margin-left: -1rem;
  border-radius: 6px;
  border: 1px solid rgb(133, 133, 133);
  font-family: 'Noto Sans', sans-serif;

}

form input::placeholder {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.6rem;
}

.search {
  font-size: 2rem;
  position: absolute;
  top: 1.2rem;
  z-index: 10;
  color: #0d1216;
}

.helpy {
  font-size: 2.5rem;
}

.nav-btn a {
  font-size: 1.7rem;
  text-decoration: none;
  background-color: rgba(64, 87, 109, .07);
  padding: 1.2rem 2rem;
  color: #000;
  font-weight: 500;
  border-radius: .4rem;
}

.nav-btn a:not(:last-child) {
  margin-right: 1.3rem;
}

.active {
  background-color: #8b3dff !important;
  color: #fff !important;
}

.hero {
  text-align: center;
  margin-top: 18rem;
  position: relative;
}

.hero h1 {
  font-size: 6rem;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-bottom: 2.5rem;
  color: #0d1216;
}

.hero p {
  font-size: 2.2rem;
  color: rgba(13, 18, 22, .7);
  margin-bottom: 4rem;
}

.hero a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #fff;
  background-color: #8b3dff;
  padding: 1.2rem 2rem;
  font-weight: 500;
  border-radius: 5px;
}

.hero video {
  width: 60%;
  height: auto;
  margin-top: 9rem;
}

.book {
  width: 18rem;
  position: absolute;
}

.book1 {
  left: 3rem;
}

.book2 {
  right: 4rem;
  top: 24rem;
}

.book3 {
  left: 5rem;
  top: 60rem;
}

.book4 {
  right: 5rem;
  top: 60rem;
}


/*............. PERFECT ...............*/
.perfect {
  padding-top: 11rem;
  text-align: center;
}

.perfect h2 {
  text-align: center;
  font-size: 3.5rem;
  font-family: 'Lato', sans-serif;
}

.canva-box {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 6rem;
}

.canva {
  width: 22%;
}

.canva h3 {
  font-size: 2.6rem;
  display: inline-block;
  margin-bottom: 2.8rem;
  color: #0d1216;
}

.canva p {
  font-size: 1.6rem;
  color: rgba(13, 18, 22, .86);
  line-height: 2.5rem;
  margin-bottom: 3rem;

}

.canva a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  background-color: #8b3dff;
  color: #fff;
  display: block;
  padding: 1.5rem;
  border-radius: 4px;
  transition: all .5s;
}

.canva a:hover {
  background-color: #9e77f3;
}

.canva span {
  /* margin-right: 1rem; */
  color: #fbbe28;
}

.perfect-footer {
  margin-top: 7rem;
}

.perfect-footer p {
  font-size: 1.7rem;
}

.perfect-footer a {
  text-decoration: none;
  color: #8b3dff;

}


/* PARTNERS */
.trust {
  padding-top: 10rem;
}

.trust h2 {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 4rem;
  font-family: 'Lato', sans-serif;
}

.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}

.slider .slider-track {
  animation: scroll 30s linear infinite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: fit-content;
}

.slider .slide {
  height: 100px;
  width: 250px;
}

.slider .slider-track:hover {
  animation-play-state: paused;
}

.slide img {
  width: 15rem;
  height: auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/*............. WORKS ...............*/
.work {
  padding-top: 10rem;
}

.work h2 {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 4rem;
  font-family: 'Lato', sans-serif;
}

.work-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.works svg {
  width: 60px;
  height: 60px;
  padding: 1rem;
  border-radius: 50%;
  display: inline-block;
  transition: transform .2s ease, box-shadow .2s ease-in;
}

.works svg:hover,
.works svg:active {
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(68, 92, 116, .02),
    0 2px 8px rgba(57, 76, 96, .15);
  transform: translateY(-8px);
}

.work-box p {
  font-size: 1.6rem;
}

.doc {
  color: #fff;
  background-color: #00c4cc;
}

.white {
  color: #21a663;
}

.pres {
  color: #f90;
}

.vid {
  color: #d269e6;
}

.web {
  color: #575efd;
}

/*............. DOCUMENT ...............*/
.docum {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

.docum-text {
  width: 50%;
}

.docum-text h2 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

.docum-text p {
  font-size: 1.8rem;
  line-height: 3rem;
  margin-bottom: 4rem;
}

.docum-text a {
  background-color: #8b3dff;
  color: #fff;
  padding: 1.5rem 2rem;
  transition: all .2s;
  text-decoration: none;
  font-size: 1.6rem;
  border-radius: .4rem;
  font-weight: 700;
}

.docum-text a:hover {
  background-color: #9e77f3;
}

.docum video {
  width: 45%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 0 0 1px rgba(68, 92, 116, .02),
    0 2px 8px rgba(57, 76, 96, .15);
  ;
}

/*............. TEMPLATES ...............*/
.template {
  padding-top: 10rem;
}

.template h2,
.create h2,
.surprise h2 {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'Lato', sans-serif;
}

.template p,
.create-para,
.surprise-para {
  font-size: 1.7rem;
  text-align: center;
  color: rgba(13, 18, 22, .7);
}

.template-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 6rem;
}

.template-box img {
  width: 22rem;
  margin-bottom: 3rem;
  border-radius: 1rem;
  border: 1px solid rgba(64, 87, 109, .07);
}

.group1 {
  display: flex;
  flex-direction: column;
}

.template a {
  text-decoration: none;
  font-size: 1.6rem;
  background-color: rgba(64, 87, 109, .07);
  color: #0d1216;
  font-weight: 600;
  padding: 1.7rem;
  width: 18%;
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  border-radius: .4rem;
  transition: all .2s;
}

.template a:hover {
  background-color:
    rgba(57, 76, 96, .15);
}

/*............. CREATE ...............*/
.create {
  padding-top: 10rem;
}

.create-para {
  width: 45%;
  margin: 0 auto;
  line-height: 3rem;
}

.create-box {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 5rem;
}

.create-text {
  margin-left: 12rem;
  margin-top: 8rem;
  width: 30%;
}

.text-row {
  display: flex;
  align-items: center;
}

.text-row:not(:last-child) {
  margin-bottom: 5rem;
}

.text-row p {
  font-size: 1.6rem;
  margin-left: 2rem;
  color: #0d1216;
  font-weight: 700;
  line-height: 2.8rem;
}

.text-row span {
  font-weight: 300;
}

.create-box video {
  width: 50%;
}

.create a {
  text-decoration: none;
  font-size: 1.6rem;
  text-align: center;
  display: block;
  background-color: #8b3dff;
  width: 15%;
  margin-right: auto;
  margin-left: auto;
  padding: 1.5rem 0;
  color: #fff;
  border-radius: .8rem;
  font-weight: 600;
}

/*............. SURPRISE ...............*/
.surprise {
  padding-top: 15rem;
}

.surprise-boxs {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  /* align-items: center; */
}

.surprise-box {
  width: 23.5%;
}

.surprise-box img {
  width: 100%;
  border-radius: 8px;
}


.surprise-box h3 {
  font-size: 1.5rem;
  margin-top: 1rem;
  font-weight: 500;
}

.surprise-box p {
  font-size: 1.4rem;
  margin-top: 1rem;
  color: rgba(13, 18, 22, .7);
}

footer {
  margin-top: 10rem;
}

.footer {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(43, 59, 74, .3);
}

.footer h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-top: 5rem;
}

ul {
  list-style: none;
}

footer {
  border-top: 1px solid rgba(43, 59, 74, .3);

}

.footer a {
  font-size: 1.6rem;
}

.footer li {
  margin-bottom: 1.5rem;
}

.footer li:last-child {
  margin-bottom: 4rem;
}

.copy {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  text-align: center;
  font-size: 1.5rem;
}